@import 'src/themes/themes';

.rsSchemaPreview {
	position: fixed;
	top: 80px;
	right: 0;
	z-index: 99;
	background-color: theme-var($neutralBlack);
	width: 0;
	height: 100%;
	transition: width theme-var($transitionTime) ease-in-out, height theme-var($transitionTime) ease-in-out;
	box-shadow: -7px 9px 15px 0px theme-var($primaryRed700);
	&.open {
		width: 500px;
		&.expand {
			width: 1000px;
			height: 100vh;
		}
	}

	.sectionBox {
		&:not(:last-child) {
			border-bottom: 1px solid theme-var($neutralBeige700);
		}
	}

	.expandShrink {
		cursor: pointer;
		color: theme-var($neutralBeige300);
		padding: 4px;
		&:hover {
			color: theme-var($secondaryOrange500);
		}
	}
}
