@import "src/themes/themes";

.rsJoinSelectorPopup {
	width: fit-content;
	min-width: 350px;
	max-width: 500px;
	position: absolute;
	background: theme-var($neutralBeige900);
	box-shadow: 1px 3px 8px -4px rgba(0, 0, 0, 0.3);
	z-index: 10;

	.header {
		height: 36px;
		background-color: theme-var($neutralBeige700);
		padding: 6px 8px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.keyGrid {
		display: grid;
		grid-template-columns: repeat(3, 1fr) 65px;

		.tableHeader {
			padding: 8px 16px;
			border-bottom: 1px solid theme-var($neutralBeige500);
			margin-bottom: 8px;
		}

		.tableRow:hover > * {
			background-color: theme-var($neutralBeige700);
		}

		.rsIcon {
			align-self: center;
			padding: 4px;
			color: theme-var($neutralWhite);
			&:hover {
				color: theme-var($secondaryOrange500);
			}
		}

		.tableItem {
			align-self: center;
			padding: 8px 16px;
		}


	}
}