@import 'src/themes/themes';

.rsAppBar {
	height: $desktopAppBarHeight;
	background-color: theme-var($neutralBeige900);
	padding: 0 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&.isSchemaMismatch {
		background: linear-gradient(270deg, #dd314e 60.94%, rgba(221, 49, 78, 0.04) 84.38%), #241414;
	}

	.dividerLine {
		width: 1px;
		min-height: $desktopAppBarHeight;
		background-color: theme-var($primaryRed700);
		margin: 0 16px;
	}

	.notificationBtn {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: theme-var($neutralBeige900);
		transition: filter 300ms;
		margin-right: 32px;
		&:hover {
			cursor: pointer;
			filter: brightness(1.2);
		}
	}
}
