@import 'src/themes/themes';

.rsApiDetailsSection {
	padding: 32px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 48px;
	overflow-y: auto;
	height: calc(100vh - 123px);

	& > * {
		width: 90%;
		max-width: 638px;
	}

	.parameterInput {
		display: flex;
		gap: 8px;

		.rsInputText {
			flex-grow: 1;
		}
	}

	.circleButton {
		width: fit-content;
	}

	.deleteIcon {
		color: theme-var($neutralBeige500);
		cursor: pointer;
		position: absolute;
		left: -24px;
		top: 11px;
	}

	.paramValidators {
		padding-left: 32px;
		.rsSelect {
			width: 175px;
		}
		.rsInputText {
			flex-grow: 1;
		}
	}

	.requestParam {
		display: flex;
		flex-direction: column;
		gap: 16px;

		.paramNameRequired {
			position: relative;
			display: flex;
			//border: 1px solid theme-var($neutralBeige500);
			//padding: 8px 16px;
			//border-radius: 4px;
			align-items: center;
			gap: 8px;
			.rsInputText {
				flex-grow: 1;
			}
		}
	}
}
